<div class="overflow-x-hidden overflow-y-auto h-[90vh] snap-y snap-mandatory snap-always bg-base-200">
  <div class="hero h-[90vh] bg-base-200 snap-start opacity-0 ransition-all ease-in-out duration-1000  motion-reduce:transition-none " #animated >
    <div class="hero-content text-center w-full">
      <article class="prose lg:prose-xl">
        <h2>Our Vision</h2>
        <h4>
          Our mission is to connect students through one-on-one interactions, fostering meaningful relationships and encouraging in-person campus meetings for a more inclusive and supportive university community.
        </h4>
        <div class="stats stats-vertical lg:stats-horizontal shadow">
          <div class="stat">
            <div class="stat-title">Hard to Find Friends</div>
            <div class="stat-value">25%</div>
            <div class="stat-desc">Overall</div>
          </div>

          <div class="stat">
            <div class="stat-title">Potential Users</div>
            <div class="stat-value">62,000</div>
            <div class="stat-desc">In Montreal</div>
          </div>

          <div class="stat">
            <div class="stat-title">Sign Up Users</div>
            <div class="stat-value">{{emailsCount}}</div>
            <div class="stat-desc"></div>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="hero h-[90vh] bg-base-200 snap-start opacity-0 ransition-all ease-in-out duration-1000  motion-reduce:transition-none" #animated>
    <div class="hero-content text-center w-full">
      <article class="prose lg:prose-xl">
        <h2>Feeling lonely in university?</h2>
        <h3>You are not alone.</h3>
        <h4>With few social events and lecture-heavy courses, making meaningful connections can be challenging.</h4>
        <div class="w-full">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                  <h3>Fact 1</h3>
              </ng-template>
              <div class="w-full h-64">
                <h3>40% of college students say they have experienced feelings of social isolation or loneliness since starting college.</h3>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <h3>Fact 2</h3>
              </ng-template>
              <div class="w-full h-64">
                <h3>1 in 3 students find it difficult to make friends in college according to a study done by OnePoll.</h3>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <h3>Fact 3</h3>
              </ng-template>
              <div class="w-full h-64">
                <h3>An Psychology Today article indicates that approximately 70% of students say that they would like more friends.</h3>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        
      </article>
    </div>
  </div>

  <div class="hero bg-base-200 snap-center opacity-0 ransition-all ease-in-out duration-1000  motion-reduce:transition-none" #animated>
    <div class="hero-content flex flex-col">
      <article class="prose lg:prose-xl">
        <h2>
          The Problems
        </h2>
      </article>
      <div class="grid grid-cols-1 gap-2 lg:lg:grid-cols-3">
        <div class="card lg:card-side bg-base-100 shadow-xl w-full">
          <div class="card-body">
            <blockquote class="reddit-embed-bq" style="height:316px" data-embed-height="316"><a href="https://www.reddit.com/r/mcgill/comments/1bn3w3j/1st_year_making_friends_is_hard/">1st year, making friends is hard...</a><br> by<a href=""></a> in<a href="https://www.reddit.com/r/mcgill/">mcgill</a></blockquote><script async="" src="https://embed.reddit.com/widgets.js" charset="UTF-8"></script>
          </div>
        </div>
        <div class="card lg:card-side bg-base-100 shadow-xl w-full">
          <div class="card-body">
            <blockquote class="reddit-embed-bq" style="height:316px" data-embed-height="316"><a href="https://www.reddit.com/r/mcgill/comments/1dm1l3g/am_i_the_only_one_that_found_mcgill_isolating/">am i the only one that found mcgill isolating </a><br> by<a href="https://www.reddit.com/user/Temporary_Success297/">u/Temporary_Success297</a> in<a href="https://www.reddit.com/r/mcgill/">mcgill</a></blockquote><script async="" src="https://embed.reddit.com/widgets.js" charset="UTF-8"></script>
          </div>
        </div>
        <div class="card lg:card-side bg-base-100 shadow-xl w-full">
          <div class="card-body">
            <blockquote class="reddit-embed-bq" style="height:316px" data-embed-height="316"><a href="https://www.reddit.com/r/mcgill/comments/16wqdq3/so_lonely/">So Lonely...</a><br> by<a href="https://www.reddit.com/user/throwaway47319841/">u/throwaway47319841</a> in<a href="https://www.reddit.com/r/mcgill/">mcgill</a></blockquote><script async="" src="https://embed.reddit.com/widgets.js" charset="UTF-8"></script>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero h-[90vh] bg-base-200 snap-start ">
    <div class="hero-content flex flex-col justify-center items-center">
      <iframe class="w-full sm:w-[510px] lg:w-[710px]"
        src="https://e.infogram.com/1fb2092d-25ee-4983-8977-6e649cd48709?src=embed"
        title="SV Q3 23 Pulse engagement: Ease in making friends" width="710" height="995" scrolling="no"
        frameborder="0" style="border:none;" allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>
</div>
  